/* Container for full body alignment */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
/* Body settings */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 40px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}

/* User Information styles */

#user-info {
    text-align: center;
    margin-bottom: 20px;
}
#user-info label {
    margin-right: 10px;
}
#user-info input {
    padding: 8px;
    margin-right: 20px;
    border: 1px solid #ddd;
    border-radius: 10px; /* Add border-radius to input fields */
    outline: none; /* Remove default focus outline */
    transition: border-color 0.3s ease;
}
#user-info input:focus {
    border-color: #4CAF50; /* Change border color to match button hover */
}

#quiz-form {
    margin: 20px auto;
}






/* Button styling */
.button-container {
    text-align: center;
    margin-top: 20px;
}